# Ignore everything except .cpp, .h, and .md files
*
!*.cpp
!*.h
!*.md

# Ignore build output directories
Debug/
Release/
x64/
x86/
build/

# Ignore Visual Studio specific files
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.log
*.tlog
*.obj
*.pdb
*.exe
*.dll
*.ilk
*.lib
*.idb
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.cache
*.csproj.user
*.VC.db
*.txt

# Ignore other temporary or local files
*.user
*.psess
*.nupkg
*.dSYM/
*.DS_Store
*.directory
Thumbs.db
*.ipdb
*.iobj
*.o
*.out
*.log
*.tmp
*.suo
*.vcxproj.*

